@model AllBooksQueryModel

<form method="get">
    <div class="row mb-5">
        <div class="form-group col-md-4">
            <div class="form-group">
                <label asp-for="Title"></label>
                <select asp-for="Title" class="form-control">
                    <option value="">All</option>
                    @foreach (var title in Model.Titles)
                    {
                        <option value="@title">@title</option>
                    }
                </select>
            </div>   
        </div>

        <div class="form-group col-md-4">
            <label asp-for="SearchTerm"></label>
            <input asp-for="SearchTerm" class="form-control" placeholder="Da Vinci Code, Harry Potter and the Deathly Hallows, etc...">
        </div>
        <div class="form-group col-md-3">
            <div class="form-group">
                <label asp-for="Sorting"></label>
                <select asp-for="Sorting" class="form-control">
                    <option value="0" selected>DateCreated</option>
                    <option value="1">Year</option>
                    <option value="2">Titel And Author</option>
                </select>
            </div>
        </div>
    </div>
</form>

<div class="row">
    @foreach (var book in Model.Books)
    {
    <div class="col-md-4">
        <div class="card mb-3">
            <img class="card-img-top" src="@book.ImageUrl" alt="@book.Title @book.Author - @book.Year (@book.Category)">
            <div class="card-body text-center">
                <h5 class="card-title text-center">@book.Year @book.Title @book.Author</h5>
                <a asp-controller="Books" asp-action="Details" asp-route-id="@book.Id" class="btn btn-primary">View More</a>
            </div>
        </div>
    </div>
    }
</div>


